<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="#">
                <img src="./../../assets/time_voyage-logo.png" class="pb-1" height="35" width="auto" />
            </a>

            <span class="text-white ms-1">
                Time Voyage: A Journey Through History
            </span>
        </div>

        <div class="d-flex">
            <div class="has-search">
                <span class="form-control-feedback">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </span>
                <input class="form-control" type="search" placeholder="Search" [(ngModel)]="searchText"
                    (keyup.Enter)="onSearch($event)" (blur)="onSearch($event)">
            </div>
            <button class="btn btn-warning ms-1" type="submit" (click)="onFilter($event)">
                <fa-icon [icon]="faFilter"></fa-icon>
            </button>
        </div>
    </div>
</nav>