<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title h3">{{ eventRecord && eventRecord.title }}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <img [src]="eventRecord && eventRecord.image" class="img-fluid" alt="Image">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col h5">
                Year: {{ eventRecord && eventRecord.date }}
            </div>
        </div>
        <div class="row">
            <div class="col">{{ eventRecord && eventRecord.description }}</div>
        </div>

        <div class="row">
            <div class="col mt-3">
                <div class="fw-bold">For more information, please refer the below video link</div>
                <a [href]="eventRecord && eventRecord.video" target="_blank" (click)="modalRef.hide()">{{ eventRecord &&
                    eventRecord.video }}</a>
            </div>
        </div>
    </div>
</div>