<div class="min-vh-100">
    <app-header></app-header>

    <div class="timeline-wrapper" (mousemove)="handleTimelineScroll($event)">
        <ul class="timeline">
            <li *ngFor="let item of [1,2,3,4,5,6,7,8]" data-date="Jan 7, 2022" (mouseenter)="hoveredCard = item"
                (mouseleave)="hoveredCard = null">
                <!-- <span class="title">Mother's Birthday</span> -->
                <div class="data" [ngClass]="{'show': (hoveredCard && hoveredCard === item) }">
                    <h3>Event Title</h3>
                    <small>Jan 7, 2022</small>
                    <!-- <p>Lorem ipsum dolor sit am perfrendis nostrum</p>
                        <span class="close">Click to close</span> -->
                </div>
            </li>
        </ul>
    </div>

    <app-footer></app-footer>
</div>